<style>
    .link_content {
        /*border: 1px solid #ddd;*/
        overflow: hidden;
        width:600px;
        margin:0 auto;
    }
    .link_content a {
        color: #3265cb;
    }
    .link_list {
        padding: 10px 30px 0;
    }
    .link_list::after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
    }
    .link_list {
        display: inline-table;
    }
    .link_list li {
        background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/skin/201006/i/20130427A.png") no-repeat scroll 8px 50%;
        border-bottom: 1px dotted #ccc;
        float: left;
        height: 32px;
        line-height: 32px;
        overflow: hidden;
        padding-left: 28px;
        white-space: nowrap;
        width: 157px;
    }
    .root61 .link_list li {
        width: 201px;
    }
    .link_list li a {
        color: #005ea7;
    }
    .link_box_a {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .link_step {
        /*border-right: 1px dotted #ccc;*/
        float: left;
        margin: 10px 43px 0 30px;
        padding-bottom: 50px;
        width: 500px;
    }
    .link_step li {
        line-height: 22px;
        margin-top: 10px;
        width: 476px;
    }
    .link_box_a .link_step_tit {
        font-weight: bold;
    }
    .margin_l_12 {
        margin-left: 12px;
    }
    .w247 {
        border: 1px solid #ccc;
        height: 18px;
        line-height: 18px;
        padding: 6px 1px;
        width: 245px;
    }
    .w247h60 {
        border: 1px solid #ccc;
        height: 120px;
        padding: 1px;
        width: 245px;
    }
    .link_button {
        background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/skin/201006/i/20130427B.png") no-repeat scroll 0 0;
        border: 0 none;
        color: #fff;
        cursor: pointer;
        font-family: 宋体;
        font-weight: bold;
        height: 25px;
        left: -100px;
        margin-bottom: 20px;
        position: relative;
        width: 81px;
    }
    .Paginationation {
        clear: both;
        margin-right: 66px;
    }
    .font_e30101 {
        color: #e30101;
    }
    .top_left, .top_right, .bottom_left, .bottom_right {
        background-image: url("i/links_border.jpg");
        background-repeat: no-repeat;
        display: none;
        width: 10px;
    }
    .top_left {
        height: 4px;
    }
    .top_right {
        background-position: -10px 0;
        float: right;
        height: 4px;
    }
    .bottom_left {
        background-position: 0 -4px;
        height: 3px;
    }
    .bottom_right {
        background-position: -10px -4px;
        float: right;
        height: 3px;
    }
    .rank .link_FF7403 {
        color: #ff7403;
    }
    .link_table {
        margin-top: 20px;
        width: 402px;
    }
    .link_table td {
        padding-top: 10px;
    }
    label.error {
        color: #999;
        margin-left: 5px;
    }
    .float_Left {
        float: left;
    }
    .root61 .link_step {
        width: 550px;
    }
    .Pagination {
        float: right;
        margin: 0 30px 20px;
    }
    .Pagination a, .Pagination span {
        border: 1px solid #ccc;
        border-radius: 5px;
        float: left;
        font-family: arial;
        font-size: 14px;
        height: 20px;
        line-height: 20px;
        margin-left: 2px;
        overflow: hidden;
        padding: 3px 10px;
    }
    .Pagination .text, .Pagination .current {
        border: medium none;
        padding: 4px 11px;
    }
    .Pagination a:link, .Pagination a:visited {
        color: #005aa0;
    }
    .Pagination a:hover, .Pagination a:active {
        background: #005aa0 none repeat scroll 0 0;
        color: #fff;
        text-decoration: none;
    }
    .Pagination .current, .Pagination .current:link, .Pagination .current:visited {
        color: #f60;
        font-weight: bold;
    }
    .Pagination b {
        background-image: url("//misc.360buyimg.com/201007/skin/df/i/bg_hotsale.gif");
        background-repeat: no-repeat;
        height: 9px;
        overflow: hidden;
        position: absolute;
        top: 9px;
        width: 5px;
    }
    .Pagination .prev, .Pagination .next, .Pagination .prev-disabled, .Pagination .next-disabled {
        height: 18px;
        line-height: 18px;
        padding-top: 5px;
        position: relative;
    }
    .Pagination .prev-disabled, .Pagination .next-disabled {
        color: #ccc;
        cursor: default;
    }
    .Pagination .prev, .Pagination .prev-disabled {
        padding-left: 12px;
    }
    .Pagination .prev b {
        background-position: -68px -608px;
        left: 3px;
    }
    .Pagination .prev-disabled b {
        background-position: -80px -608px;
        left: 3px;
    }
    .Pagination .next, .Pagination .next-disabled {
        padding-right: 12px;
    }
    .Pagination .next b {
        background-position: -62px -608px;
        right: 3px;
    }
    .Pagination .next-disabled b {
        background-position: -74px -608px;
        right: 3px;
    }
    .Pagination-m a, .Pagination-m span {
        font-size: 12px;
        height: 14px;
        line-height: 14px;
    }
    .Pagination-m b {
        top: 5px;
    }
    .Pagination-m .prev, .Pagination-m .next, .Pagination-m .prev-disabled, .Pagination-m .next-disabled {
        height: 14px;
        line-height: 14px;
        padding-top: 3px;
    }

</style>
<!-- 引入公共的头部 -->
<% include header %>

<div id="main">
    <!-- 引入右边部分 -->

    <div id="content">
        <% if(errMsg.length){ %>
            <script>
                alert('<%= errMsg %>');
            </script>
        <% } %>
        <% if(succMsg.length){ %>
            <script>
                alert('<%= succMsg %>');
            </script>
        <% } %>
        <div class="panel">
            <div class="header">
                <ul class="breadcrumb">
                    <li><a href="/">主页</a><span class="divider">/</span></li>
                    <li class="active">申请友情链接</li>
                </ul>
            </div>
            <div class="inner">
                <div class="link_content">
                    <h3 class="link_tit">申请友情链接</h3>
                    <ul class="link_step">
                        <li class="link_step_tit">申请步骤：</li>
                        <li>
                            <div class="float_Left">
                                1.</div>
                            <div class="margin_l_12">
                                请先在贵网站做好nodejs的文字友情链接：
                                <br> 链接文字：nodejs链接地址：
                                <a href="//www.nodejs.com" target="_blank">192.168.17.65</a></div>
                        </li>
                        <li>2.做好链接后，请在右侧填写申请信息。本网站只接受申请文字友情链接。</li>
                        <li>
                            <div class="float_Left"> 3.</div>
                            <div class="margin_l_12">
                                已经开通我站友情链接且内容健康，符合本站友情链接要求的网站，经管理员审核后，可以显示在此友情链接页面。</div>
                        </li>
                        <li>
                            <div class="float_Left"> 4.</div>
                            <div class="margin_l_12">
                                请通过右侧提交申请，注明：友情链接申请。</div>
                        </li>
                    </ul>
                    <form id="frm_submit" class="form-horizontal" action="/user/Doapply" method="post" enctype="multipart/form-data">
                        <table class="link_table" width="309" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td colspan="2" class="link_step_tit" valign="top" height="29">
                                    <h4>申请信息</h4></td>
                            </tr>
                            <tr>
                                <td height="29" width="100px">
                                    网站logo：
                                </td>
                                <td height="29">
                                    <input class="input-xlarge" id="userpic" name="upic" size="30" type="file">
                                </td>
                            </tr>
                            <tr>
                                <td height="29" width="100px">
                                    网站名称：
                                </td>
                                <td height="29">
                                    <input id="name" required name="wname" class="w247" type="text" style="height:30px">
                                </td>
                            </tr>
                            <tr>
                                <td height="29">
                                    网&nbsp;&nbsp;&nbsp;&nbsp;址：
                                </td>
                                <td height="29">
                                    <input id="url" required name="url" class="w247" value=" " type="text" style="height:30px">
                                </td>
                            </tr>
                            <tr>
                                <td height="35">
                                    电子邮箱：
                                </td>
                                <td height="29">
                                    <input id="email" required name="email" class="w247" type="text" style="height:30px">
                                </td>
                            </tr>
                            <tr>
                                <td width="61" valign="top" height="29">
                                    网站介绍：
                                </td>
                                <td width="348" valign="top">
                                    <textarea id="intro" required name="wintro" cols="" rows="" class="w247h60"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="middle" height="45" align="center">
                                    <input  value="提交申请" id="btnSubmit" class="link_button" type="submit">
                                </td>
                            </tr>
                        </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>

<!-- 引入公共的尾部 -->
<% include footer %>
